In [ ]:
!pip install influxdb

In [ ]:
import pandas as pd
from datetime import datetime # Import Biblioteca 
import csv 
from influxdb import InfluxDBClient
import numpy as np

In [ ]:
client = InfluxDBClient(host='bitsaas-dns-vm-iot.eastus2.cloudapp.azure.com', port=8086, ssl=True, verify_ssl=True)

client.switch_database('db_dados_sensores')
results = client.query('SELECT * FROM "bit_leaf_etl_pit2"')
lista = []
for i in results:
    for result in i:
        if result['time']:
            blueprint = {
                "'updtime'": result['updtime'],
                "value"  : result['value']

                  } 
            lista.append(blueprint) # comando que busca dados no Banco

In [ ]:
df = pd.DataFrame(lista)

In [ ]:
df.head()

    'updtime'  value
0  1646417422      4
1  1560017422      5
2  1473617422      5
3  1387217422      1
4  1300817422      5

In [ ]:
df = pd.DataFrame (lista)

In [ ]:
df_default = pd.DataFrame(values)

'''values = {'updtime':  ['1646417422','1560017422	','1473617422', '1387217422', '1300817422'],
          'value': ['4','5','5','1','5']
          }
          '''

#df_default["updtime"] = pd.to_datetime(df_default['updtime'], unit='ms')
df_default['updtime'] = pd.to_datetime(df_default['updtime'], unit='ms')

print (df_default)
print (df.dtypes)

                  updtime value
0 1970-01-20 01:20:17.422     4
1 1970-01-19 01:20:17.422     5
2 1970-01-18 01:20:17.422     5
3 1970-01-17 01:20:17.422     1
4 1970-01-16 01:20:17.422     5
updtime    datetime64[ns]
value              object
dtype: object